<div class="inicioDiv">
    <div class="lashesBanner">
        <div class="container-fluid containerLashesProducts">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 lashistaProfesional">
                    <img src="/assets/images/fechasCertificaciones.png" alt="..." class="img-thumbnail imgCertificaciones">
                </div>
                <div class="col-md-3 lashistaProfesional">
                    <img src="/assets/images/aplicacionPestañas.png" alt="..." class="img-thumbnail imgLashistaProfesional">
                </div>
                <div class="col-md-3"></div>

            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="titleValueProp">
                        <div class="backgroundValueP titleFont">
                            <h4>¡Emprende tu propio negocio!</h4>
                            <br>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092" target="_blank">
                                <button type="button" class="btn btn-dark btn-lg btn-whats"><span><i
                                            class="fab fa-whatsapp"></i></span> Contáctanos</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

</div>